*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:linear-gradient(
        135deg,
        #6a11cb,
        #2575fc
    );

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:white;
    width:500px;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    color:#2575fc;
    margin-bottom:20px;
}

.task-input{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.task-input input{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

.task-input button,
.filter-buttons button{
    padding:12px;
    border:none;
    background:#2575fc;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.filter-buttons{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:20px;
}

ul{
    list-style:none;
}

li{
    background:#f3f3f3;
    padding:15px;
    margin:10px 0;
    border-radius:10px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.completed{
    text-decoration:line-through;
    color:gray;
}

.actions button{
    margin-left:5px;
    border:none;
    padding:8px 10px;
    border-radius:5px;
    cursor:pointer;
}

.complete-btn{
    background:green;
    color:white;
}

.delete-btn{
    background:red;
    color:white;
}
